{% extends "myapp/index.html" %}

{% block content %}
<section>
   <div class="container m-5">
      <h2 class="mb-5">Add Product</h2>
      {% if msg %}
      <div class="alert alert-success">
         {{msg}}
      </div>
      {% endif %}
      
      <form method="post" action="{% url "addpro" %}" enctype="multipart/form-data">
         {% csrf_token %}
         <!-- ***** Name ****** -->
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Product Name" name="product_name">
         </div>
         <!-- ***** Price ****** -->
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Product Price" name="product_price">
         </div>
         <!-- ***** Image ****** -->
         <div class="form-group">
            <label for="product_image">Image : </label>
            <input type="file" class="form-control" name="image">
         </div>
         <!-- ***** Model ****** -->
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Product Model" name="model">
         </div>
         <!-- ***** Ram ****** -->
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Product Ram" name="ram">
         </div>

         <input type="submit" class="btn btn-primary text-white" value="Submit" />
         <a class="btn btn-success text-white" href="{% url "home" %}">Home</a>
      </form>
   </div>
</section>
{% endblock content %}